TIKTOK_CLIENT_KEY = 
TIKTOK_CLIENT_SECRET = 
TIKTOK_SCOPE = user.info.basic
SERVER_BASE_URL = https://fixated-dashboard.netlify.app
APP_BASE_URL = https://fixated-dashboard.netlify.app
TIKTOK_REDIRECT_URI = https://fixated-dashboard.netlify.app/oauth/tiktok/callback
VITE_AUTH_BASE_URL = https://fixated-dashboard.netlify.app

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://fixated-dashboard.netlify.app/oauth/google/callback