TIKTOK_CLIENT_KEY = 
TIKTOK_CLIENT_SECRET = 
TIKTOK_SCOPE = user.info.basic
SERVER_BASE_URL = https://fixated-dashboard-preview.netlify.app
APP_BASE_URL = https://fixated-dashboard-preview.netlify.app
TIKTOK_REDIRECT_URI = https://fixated-dashboard-preview.netlify.app/oauth/tiktok/callback
VITE_AUTH_BASE_URL = https://fixated-dashboard-preview.netlify.app

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://fixated-dashboard-preview.netlify.app/oauth/google/callback

YOUTUBE_REDIRECT_URI=https://fixated-dashboard-preview.netlify.app/oauth/youtube/callback
YOUTUBE_SCOPE=https://www.googleapis.com/auth/youtube.readonly https://www.googleapis.com/auth/yt-analytics.readonly
YOUTUBE_REPORT_CHANNEL_DAILY=channel_basic_a2
YOUTUBE_REPORT_VIDEO_DAILY=video_basic_a2
YOUTUBE_REPORT_DEMOGRAPHICS=channel_demographics_a1
YOUTUBE_REPORT_GEO=channel_geography_a1


INSTAGRAM_REDIRECT_URI=https://fixated-dashboard-preview.netlify.app/oauth/instagram/callback
INSTAGRAM_CLIENT_TOKEN=
INSTAGRAM_APP_ID=
INSTAGRAM_APP_SECRET=
INSTAGRAM_APP_TOKEN=
INSTAGRAM_ACCESS_TOKEN=
INSTAGRAM_COLLECTION_ENABLED=true
INSTAGRAM_COLLECTOR_MODE=graph
INSTAGRAM_GRAPH_API_VERSION=v24.0
INSTAGRAM_OAUTH_SCOPE=pages_show_list,pages_read_engagement,instagram_business_basic
INSTAGRAM_OAUTH_AUTHORIZE_URL=https://www.facebook.com/v25.0/dialog/oauth
INSTAGRAM_OAUTH_ENABLE_FB_LOGIN=
INSTAGRAM_OAUTH_FORCE_AUTHENTICATION=

X_BEARER_TOKEN=
X_COLLECTION_ENABLED=true
X_API_BASE_URL=https://api.x.com/2
X_API_FALLBACK_BASE_URL=https://api.twitter.com/2
X_COLLECTOR_MAX_POSTS=50
X_CLIENT_ID=
X_CLIENT_SECRET=
X_REDIRECT_URI=https://fixated-dashboard-preview.netlify.app/oauth/x/callback
X_OAUTH_SCOPE=users.read tweet.read offline.access
X_OAUTH_AUTHORIZE_URL=https://x.com/i/oauth2/authorize
X_OAUTH_TOKEN_URL=https://api.x.com/2/oauth2/token
X_OAUTH_TOKEN_FALLBACK_URL=https://api.twitter.com/2/oauth2/token
X_OAUTH_ENCRYPTION_KEY=


SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_URL=
SUPABASE_DB_PWD=
SUPABASE_ACCESS_TOKEN=
