TIKTOK_CLIENT_KEY = 
TIKTOK_CLIENT_SECRET = 
TIKTOK_SCOPE = user.info.basic
SERVER_BASE_URL = https://fixated-dashboard.netlify.app
APP_BASE_URL = https://fixated-dashboard.netlify.app
TIKTOK_REDIRECT_URI = https://fixated-dashboard.netlify.app/oauth/tiktok/callback
VITE_AUTH_BASE_URL = https://fixated-dashboard.netlify.app

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://fixated-dashboard.netlify.app/oauth/google/callback

YOUTUBE_REDIRECT_URI=https://fixated-dashboard.netlify.app/oauth/youtube/callback
YOUTUBE_SCOPE=https://www.googleapis.com/auth/youtube.readonly https://www.googleapis.com/auth/yt-analytics.readonly
YOUTUBE_REPORT_CHANNEL_DAILY=channel_basic_a2
YOUTUBE_REPORT_VIDEO_DAILY=video_basic_a2
YOUTUBE_REPORT_DEMOGRAPHICS=channel_demographics_a1
YOUTUBE_REPORT_GEO=channel_geography_a1

INSTAGRAM_COLLECTOR_MODE=playwright
INSTAGRAM_SESSION_ENCRYPTION_KEY=
INSTAGRAM_COLLECTOR_MAX_POSTS=12
INSTAGRAM_COLLECTOR_TIMEOUT_MS=45000
INSTAGRAM_REFRESH_MAX_CONCURRENCY=2
INSTAGRAM_COLLECTOR_MAX_RETRIES=2
INSTAGRAM_COLLECTOR_RETRY_BASE_DELAY_MS=1200
INSTAGRAM_COLLECTOR_RETRY_JITTER_MS=500
INSTAGRAM_RATE_LIMIT_WINDOW_MS=60000
INSTAGRAM_REFRESH_RATE_LIMIT_MAX=8
INSTAGRAM_SESSION_RATE_LIMIT_MAX=12
INSTAGRAM_ALERT_FAILURE_STREAK_THRESHOLD=3
INSTAGRAM_ALERT_FAILURE_RATE_THRESHOLD_PCT=50
INSTAGRAM_OPS_RUN_WINDOW_MS=21600000
INSTAGRAM_OPS_RECENT_RUN_LIMIT=200
INSTAGRAM_OPS_RECENT_ALERT_LIMIT=100
INSTAGRAM_OPS_RECENT_RUNS_PER_ACCOUNT=15
INSTAGRAM_OPS_RECENT_ALERTS_PER_ACCOUNT=12

SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_URL=
SUPABASE_DB_PWD=
SUPABASE_ACCESS_TOKEN=
